<footer class="footer">
    <div class="footer-content">
        <div class="footer-links">
            <a href="{{ '/about' | relative_url }}">About</a>
            {% if site.github_username %}
                <a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a>
            {% endif %}
            {% if site.twitter_username %}
                <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>
            {% endif %}
        </div>
        <p class="copyright">© {{ 'now' | date: "%Y" }} {{ site.author }}. All rights reserved.</p>
    </div>
</footer>
